# Python Django
# Test a Django project on multiple versions of Python.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'
strategy:
  matrix:
    Python37:
      PYTHON_VERSION: '3.7'
    Python38:
      PYTHON_VERSION: '3.8'
    Python39:
      PYTHON_VERSION: '3.9'
    Python310:
      PYTHON_VERSION: '3.10'
    Python311:
      PYTHON_VERSION: '3.11'
  maxParallel: 3

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(PYTHON_VERSION)'
    architecture: 'x64'

- script: |
    python -m pip install --upgrade pip
    pip install '.[test]' pytest-azurepipelines
  displayName: 'Install dependencies'

- script: |
    ruff .
  displayName: 'Lint code with ruff'

- script: |
    mypy clickplc
  displayName: 'Check types with mypy'

- script: |
    pytest --junitxml=reports/test-coverage.xml  --cov=. --cov-report=xml
  displayName: 'Run tests'
